[submodule "MP_PyTorch"]
	path = MP_PyTorch
	url = git@github.com:ploedige/MP_PyTorch.git
[submodule "related_repos/palrymetis"]
	path = related_repos/palrymetis
	url = https://github.com/gnoLLex/palrymetis.git
[submodule "related_repos/SimulationFrameworkPublic"]
	path = related_repos/SimulationFrameworkPublic
	url = https://github.com/ALRhub/SimulationFrameworkPublic.git
[submodule "data"]
	path = data_magement/data
	url = git@github.com:ploedige/fam_data.git
[submodule "polymetis"]
	path = polymetis
	url = git@github.com:intuitive-robots/irl_polymetis.git
